@page "/Vehicles"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
<!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Details-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">FMS</h5>
            <!--end::Title-->
            <!--begin::Separator-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                <li class="breadcrumb-item">
                    <a href="/" class="text-muted">Vehicles</a>
                </li>
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Details-->
    </div>
</div>
<!--end::Subheader-->

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        Vehicles
                        <span class="d-block text-muted pt-2 font-size-sm">All Vehicles</span>
                    </h3>
                </div>
                <div class="card-toolbar">
                    <ul class="nav nav-light-fms nav-bold nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_4_1">
                                <span class="nav-icon"><i class="flaticon2-dashboard"></i></span>
                                <span class="nav-text">Vehicle Management</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_4_2">
                                <span class="nav-icon"><i class="flaticon2-information"></i></span>
                                <span class="nav-text">Accidental History</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_4_3">
                                <span class="nav-icon"><i class="flaticon2-sheet"></i></span>
                                <span class="nav-text">Scorecard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_4_4">
                                <span class="nav-icon"><i class="flaticon2-add-square"></i></span>
                                <span class="nav-text">Add Vehicle</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="kt_tab_pane_4_1" role="tabpanel" aria-labelledby="kt_tab_pane_4_1">
                        @if (VehiclesList != null)
                        {
                            <div class="col-lg-12 control-section">
                                <div class="content-wrapper">
                                    <div class="row">
                                        <div id="container">
                                            <SfGrid ID="VehiclesGrid" @ref="VehiclesGrid" DataSource="@VehiclesList"
                                                    AllowPaging="true" AllowSorting="true" AllowFiltering="true"
                                                    Height="600" RowHeight="38"
                                                    Toolbar="@(new List<string>() { "ExcelExport", "CsvExport", "PdfExport" })"
                                                    AllowExcelExport="true" AllowPdfExport="true">
                                                <GridPageSettings PageCount="5" PageSize="10" PageSizes="new int[]{ 5, 10, 20, 50, 100 }"></GridPageSettings>
                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                                <GridSelectionSettings CheckboxOnly="true" PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings><GridEvents OnToolbarClick="ToolbarClick" TValue="VehicleVM"></GridEvents>
                                                <GridColumns>
                                                    <GridColumn Field=@nameof(VehicleVM.Code) TextAlign="TextAlign.Center" HeaderText="Code" Width="130"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.Description) HeaderText="Vehicle Number" Width="130"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.VehicleType) HeaderText="Type" Width="130"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.StationDescription) HeaderText="Station" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.LocationDescription) HeaderText="Location" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.VehicleTypeDescription) HeaderText="Make" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.Model) HeaderText="Model" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.GasolineTypeDescription) HeaderText="Gasoline Type" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.ChasisNo) HeaderText="Chasis Number" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.EngineNo) HeaderText="Engine Number" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                    <GridColumn Field=@nameof(VehicleVM.PurchaseDate) HeaderText="Purchase Date" Width="130" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                                                </GridColumns>
                                            </SfGrid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h5>Loading.....</h5>
                        }
                    </div>
                    <div class="tab-pane fade" id="kt_tab_pane_4_2" role="tabpanel" aria-labelledby="kt_tab_pane_4_2">
                        <div class="d-flex">
                            @if (AccidentsList != null)
                            {
                                <div class="col-lg-12 control-section">
                                    <div class="content-wrapper">
                                        <div class="row">
                                            <div id="container">
                                                <SfGrid ID="AccidentsGrid" @ref="AccidentsGrid" DataSource="@AccidentsList" AllowSelection="true" AllowSorting="true" AllowFiltering="true" EnableVirtualization="true" EnableHover="false" Height="600" RowHeight="38" Toolbar="@(new List<string>() { "ExcelExport", "CsvExport", "PdfExport" })" AllowExcelExport="true" AllowPdfExport="true">
                                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                                    <GridPageSettings PageSize="40"></GridPageSettings>
                                                    <GridSelectionSettings CheckboxOnly="true" PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings><GridEvents OnToolbarClick="AccidentToolbarClick" TValue="FMSVehicleAccidentVM"></GridEvents>
                                                    <GridColumns>
                                                        <GridColumn Field=@nameof(FMSVehicleAccidentVM.VehicleNumber) HeaderText="Vehicle Number" Width="130">
                                                            <HeaderTemplate>
                                                                <div>
                                                                    <span class="pl-2"></span> Vehicle Number
                                                                </div>
                                                            </HeaderTemplate>
                                                        </GridColumn>
                                                        <GridColumn Field=@nameof(FMSVehicleAccidentVM.DriverName) HeaderText="Driver Name" Width="130"></GridColumn>
                                                        <GridColumn Field=@nameof(FMSVehicleAccidentVM.TimeStamp) HeaderText="Date" Width="130"></GridColumn>
                                                        <GridColumn Field=@nameof(FMSVehicleAccidentVM.Description) HeaderText="Description" Width="130"></GridColumn>
                                                    </GridColumns>
                                                </SfGrid>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h5>Loading.....</h5>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="kt_tab_pane_4_3" role="tabpanel" aria-labelledby="kt_tab_pane_4_3">
                        @if (FMSVehiclesList != null)
                        {
                            <div class="col-lg-12 control-section">
                                <div class="content-wrapper">
                                    <div class="row">
                                        <div id="container">
                                            <SfGrid ID="ScoreCardsGrid" @ref="ScoreCardsGrid" DataSource="@FMSVehiclesList" AllowSelection="true" AllowSorting="true" AllowFiltering="true" EnableVirtualization="true" EnableHover="false" Height="600" RowHeight="38" Toolbar="@(new List<string>() { "ExcelExport", "CsvExport", "PdfExport" })" AllowExcelExport="true" AllowPdfExport="true">
                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                                <GridPageSettings PageSize="40"></GridPageSettings>
                                                <GridSelectionSettings CheckboxOnly="true" PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings><GridEvents OnToolbarClick="ScoreCardToolbarClick" TValue="FMSVehicleVM"></GridEvents>
                                                <GridColumns>
                                                    <GridColumn Field=@nameof(FMSVehicleVM.VehicleNumber) HeaderText="Vehicle Number" Width="130">
                                                        <HeaderTemplate>
                                                            <div>
                                                                <span class="pl-2"></span> Vehicle Number
                                                            </div>
                                                        </HeaderTemplate>
                                                    </GridColumn>
                                                    <GridColumn Field=@nameof(FMSVehicleVM.Breakdowns) HeaderText="Breakdowns" Width="130"></GridColumn>
                                                    <GridColumn Field=@nameof(FMSVehicleVM.FuelAverage) HeaderText="Fuel Average" Width="130"></GridColumn>
                                                    <GridColumn Field=@nameof(FMSVehicleVM.CostThisMonth) HeaderText="Cost This Month" Width="130"></GridColumn>
                                                    <GridColumn Field=@nameof(FMSVehicleVM.Ranking) HeaderText="Ranking" Width="130"></GridColumn>
                                                </GridColumns>
                                            </SfGrid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h5>Loading.....</h5>
                        }
                    </div>
                    <div class="tab-pane fade" id="kt_tab_pane_4_4" role="tabpanel" aria-labelledby="kt_tab_pane_4_4">
                        <h5>Loading.....</h5>
                    </div>
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
@code {
    public List<VehicleVM> VehiclesList { get; set; }
    public List<FMSVehicleVM> FMSVehiclesList { get; set; }
    public List<FMSVehicleAccidentVM> AccidentsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        VehiclesList = await Http.GetFromJsonAsync<List<VehicleVM>>("api/Vehicles/All");
        FMSVehiclesList = await Http.GetFromJsonAsync<List<FMSVehicleVM>>("api/Vehicles/FMS/All");
        AccidentsList = await Http.GetFromJsonAsync<List<FMSVehicleAccidentVM>>("api/Vehicles/FMS/Accidents/All");
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    #region Syncfusion

    SfGrid<VehicleVM> VehiclesGrid;
    SfGrid<FMSVehicleAccidentVM> AccidentsGrid;
    SfGrid<FMSVehicleVM> ScoreCardsGrid;

    public void ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_pdfexport")
        {
            PdfExportProperties Props = new PdfExportProperties();
            Props.PageOrientation = PageOrientation.Landscape;
            Props.PageSize = PdfPageSize.A4;
            this.VehiclesGrid.PdfExport(Props);
        }
        if (args.Item.Id == "Grid_excelexport")
        {
            this.VehiclesGrid.ExcelExport();
        }
        if (args.Item.Id == "Grid_csvexport")
        {
            this.VehiclesGrid.CsvExport();
        }
    }

    public void AccidentToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "AccidentsGrid_pdfexport")
        {
            PdfExportProperties Props = new PdfExportProperties();
            Props.PageOrientation = PageOrientation.Landscape;
            Props.PageSize = PdfPageSize.A4;
            this.AccidentsGrid.PdfExport(Props);
        }
        if (args.Item.Id == "AccidentsGrid_excelexport")
        {
            this.AccidentsGrid.ExcelExport();
        }
        if (args.Item.Id == "AccidentsGrid_csvexport")
        {
            this.AccidentsGrid.CsvExport();
        }
    }

    public void ScoreCardToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "ScoreCardsGrid_pdfexport")
        {
            PdfExportProperties Props = new PdfExportProperties();
            Props.PageOrientation = PageOrientation.Landscape;
            Props.PageSize = PdfPageSize.A4;
            this.ScoreCardsGrid.PdfExport(Props);
        }
        if (args.Item.Id == "ScoreCardsGrid_excelexport")
        {
            this.ScoreCardsGrid.ExcelExport();
        }
        if (args.Item.Id == "ScoreCardsGrid_csvexport")
        {
            this.ScoreCardsGrid.CsvExport();
        }
    }
    #endregion
}
