@inject HttpClient Http

@if (FilteredPeriodicList != null)
{
    <div class="d-flex flex-column">
        <div class="p-2 d-flex flex-row justify-content-end">
            <div class="mr-2">
                <div class="control-wrapper">
                    <SfDropDownList TItem="SelectListItem" TValue="string" Placeholder="Select a region" @bind-Value="Filter.Region" AllowFiltering="true" DataSource="@regionsList">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="string" ValueChange="OnRegionChange"></DropDownListEvents>
                    </SfDropDownList>
                </div>
            </div>
            <div class="mr-2">
                <div class="control-wrapper">
                    <SfDropDownList TItem="SelectListItem" TValue="string" Placeholder="Select a subregion" @bind-Value="Filter.SubRegion" AllowFiltering="true" DataSource="@subRegionsList">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="string" ValueChange="OnSubRegionChange"></DropDownListEvents>
                    </SfDropDownList>
                </div>
            </div>
            <div class="mr-2">
                <div class="control-wrapper">
                    <SfDropDownList TItem="SelectListItem" TValue="string" Placeholder="Select a station" AllowFiltering="true" DataSource="@stationList" @bind-Value="Filter.Station">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="string" ValueChange="OnStationChange"></DropDownListEvents>
                    </SfDropDownList>
                </div>
            </div>

            <div class="mr-2">
                <div class="control-wrapper">
                    <SfDropDownList TItem="SelectListItem" TValue="string" Placeholder="Select a vehicle" @bind-Value="Filter.VehicleNumber" AllowFiltering="true" DataSource="@vehiclesList">
                        <DropDownListFieldSettings Text="Text" Value="Value"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="string" ValueChange="OnVehicleNumberChange"></DropDownListEvents>
                    </SfDropDownList>
                </div>
            </div>
            <button class="btn btn-bg-danger text-white mr-2" @onclick="FilterData">FILTER</button>
            <button class="btn btn-bg-info text-white mr-2" @onclick="ResetData">RESET</button>
        </div>
        <div class="p-2">
            <div class="control-section">
                <div class="content-wrapper">
                    <div class="row">
                        <div id="container">
                            <SfGrid ID="PeriodicGrid" @ref="PeriodicGrid" DataSource="@FilteredPeriodicList"
                                    AllowPaging="true" AllowSorting="true" AllowFiltering="true"
                                    Height="600" RowHeight="38"
                                    Toolbar="@(new List<string>() { "ExcelExport", "CsvExport", "PdfExport" })"
                                    AllowExcelExport="true" AllowPdfExport="true">
                                <GridPageSettings PageCount="5" PageSize="20" PageSizes="new int[]{ 5, 10, 20, 50, 100 }"></GridPageSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings CheckboxOnly="true" PersistSelection="true" Type="SelectionType.Multiple"></GridSelectionSettings>
                                <GridEvents OnToolbarClick="PeriodicToolbarClick" TValue="PeriodicVM"></GridEvents>
                                <GridColumns>
                                    <GridColumn Field=@nameof(PeriodicVM.Description) HeaderText="Description" Width="130"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.VehicleNumber) HeaderText="Vehicle Number" Width="130"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.DriverName) HeaderText="Driver Name" Width="130"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.Region) HeaderText="Region" Width="130"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.SubRegion) HeaderText="Subregion" Width="130"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.Station) HeaderText="Station" Width="130"></GridColumn>
                                    @*<GridColumn Field=@nameof(PeriodicVM.CurrentDistance) HeaderText="Current (kms)" Width="130"></GridColumn>*@
                                    <GridColumn Field=@nameof(PeriodicVM.LastCheckDistance) HeaderText="Last (kms)" Width="110"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.DistanceLimit) HeaderText="Limit (kms)" Width="110"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.CurrentMonth) HeaderText="Current (month)" Width="130"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.LastCheckTime) HeaderText="Last (time)" Width="130"></GridColumn>
                                    <GridColumn Field=@nameof(PeriodicVM.MonthLimit) HeaderText="Limit (month)" Width="130"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h5>Loading.....</h5>
}
@code {
    [Parameter]
    public string VehicleNumber { get; set; }

    public List<PeriodicVM> PeriodicList { get; set; }
    public List<PeriodicVM> FilteredPeriodicList { get; set; }


    public List<SelectListItem> regionsList { get; set; } = new List<SelectListItem>();
    public List<SelectListItem> subRegionsList { get; set; } = new List<SelectListItem>();
    public List<SelectListItem> stationList { get; set; } = new List<SelectListItem>();

    public List<SelectListItem> vehiclesList { get; set; } = new List<SelectListItem>();
    public PeriodicVM Filter { get; set; } = new PeriodicVM();

    protected override async Task OnInitializedAsync()
    {
        if (VehicleNumber != null)
        {
            PeriodicList = JsonConvert.DeserializeObject<List<PeriodicVM>>(
                await (await Http.PostAsJsonAsync("api/Periodic/Status", new ApiRequest() { VehicleNumber = VehicleNumber }))
            .Content.ReadAsStringAsync());
        }
        else
        {
            PeriodicList = (await Http.GetFromJsonAsync<List<PeriodicVM>>("api/Periodic/Status/AllVehicles")).OrderByDescending(x=>x.LastCheckTime)
            .ToList();
        }
        FilteredPeriodicList = PeriodicList;
        regionsList = PeriodicList.GroupBy(x => x.Region).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        subRegionsList = PeriodicList.GroupBy(x => x.SubRegion).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        stationList = PeriodicList.GroupBy(x => x.Station).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        vehiclesList = PeriodicList.GroupBy(x => x.VehicleNumber).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    public void FilterData()
    {
        FilteredPeriodicList = PeriodicList
        .Where(x => (string.IsNullOrEmpty(Filter.Region) || x.Region == Filter.Region))
        .Where(x => (string.IsNullOrEmpty(Filter.SubRegion) || x.SubRegion == Filter.SubRegion))
        .Where(x => (string.IsNullOrEmpty(Filter.Station) || x.Station == Filter.Station))
        .Where(x => (string.IsNullOrEmpty(Filter.VehicleNumber) || x.VehicleNumber == Filter.VehicleNumber))
        .ToList();
    }

    public async void ResetData()
    {
        Filter = new PeriodicVM();
        FilteredPeriodicList = PeriodicList;
        regionsList = PeriodicList.GroupBy(x => x.Region)
            .Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        subRegionsList = PeriodicList.GroupBy(x => x.SubRegion)
            .Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        stationList = PeriodicList.GroupBy(x => x.Station)
            .Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        vehiclesList = PeriodicList.GroupBy(x => x.VehicleNumber)
        .Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task OnRegionChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        vehiclesList = FilteredPeriodicList.Where(x => x.Region == args.Value)
            .GroupBy(x => x.VehicleNumber).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        subRegionsList = FilteredPeriodicList.Where(x => x.Region == args.Value)
            .GroupBy(x => x.SubRegion).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        stationList = FilteredPeriodicList.Where(x => x.Region == args.Value)
           .GroupBy(x => x.Station).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        StateHasChanged();
    }
    public async Task OnSubRegionChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        Filter.Region = FilteredPeriodicList.Where(x => x.SubRegion == args.Value).FirstOrDefault().Region;
        stationList = FilteredPeriodicList.Where(x => x.SubRegion == args.Value)
          .GroupBy(x => x.Station).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
        vehiclesList = FilteredPeriodicList.Where(x => x.SubRegion == args.Value)
        .GroupBy(x => x.VehicleNumber).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
    }
    public async Task OnStationChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        Filter.Region = FilteredPeriodicList.Where(x => x.Station == args.Value).FirstOrDefault().Region;
        Filter.SubRegion = FilteredPeriodicList.Where(x => x.Station == args.Value).FirstOrDefault().SubRegion;
        vehiclesList = FilteredPeriodicList.Where(x => x.Station == args.Value)
        .GroupBy(x => x.VehicleNumber).Select(x => new SelectListItem() { Text = x.Key, Value = x.Key }).ToList();
    }


    public async Task OnVehicleNumberChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        Filter.Region = FilteredPeriodicList.Where(x => x.VehicleNumber == args.Value).FirstOrDefault().Region;
        Filter.SubRegion = FilteredPeriodicList.Where(x => x.VehicleNumber == args.Value).FirstOrDefault().SubRegion;
        Filter.Station = FilteredPeriodicList.Where(x => x.VehicleNumber == args.Value).FirstOrDefault().Station;

        StateHasChanged();
    }

    #region Syncfusion

    SfGrid<PeriodicVM> PeriodicGrid;

    public void PeriodicToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "PeriodicGrid_pdfexport")
        {
            PdfExportProperties Props = new PdfExportProperties();
            Props.PageOrientation = PageOrientation.Landscape;
            Props.PageSize = PdfPageSize.A4;
            this.PeriodicGrid.PdfExport(Props);
        }
        if (args.Item.Id == "PeriodicGrid_excelexport")
        {
            this.PeriodicGrid.ExcelExport();
        }
        if (args.Item.Id == "PeriodicGrid_csvexport")
        {
            this.PeriodicGrid.CsvExport();
        }
    }
    #endregion

}
